# Node modules & build dirs
node_modules
.pnpm-store
dist
.next
build
out

# Environment files
*.env
.env.*

# Git metadata
.git
.gitignore
.gitattributes

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor/OS files
.vscode
.idea
.DS_Store
Thumbs.db

# Tests
coverage
__tests__
__mocks__
*.test.js
*.test.ts
*.spec.js
*.spec.ts

# Temp files
*.tmp
*.temp
*.swp
*.swo

# Uploaded files
public/uploads
